$font-stack: Helvetica, sans-serif;
$primary-color:cadetblue;

body {
    font-family: $font-stack;
}
h1,h2,h3,h4,h5 {
    color:$primary-color;
}
#container {
    background-color:floralwhite;
    max-width: 1000px;
    margin: 0 auto;
}
header {
    background-color:beige;
    border-bottom: 2px solid blue;
}